<footer class="flex">
    <img src="img/logo-2.png" alt="inmobiliariaDH" class="footer__img">
    <section>
        <article class="footer__article">
            <h2 class="footer__title">Nuestras redes</h2>
            <ul>
                <li class="footer__line"><i class="fa-brands fa-facebook"></i>/DH.inmobiliaria</li>
                <li class="footer__line"><i class="fa-brands fa-twitter"></i>@inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-linkedin"></i>/inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-instagram"></i>@inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-google"></i>/inmobiliaria-DH</li>
            </ul>

        </article>
        <article class="footer__article">
            <h2 class="footer__title">Contacto</h2>
            <ul>
                <li class="footer__line"><i class="fa-solid fa-phone"></i>+3804-123456</li>
                <li class="footer__line"><i class="fa-brands fa-whatsapp"></i>+54-3804-654321</li>
                <li class="footer__line"><i class="fa-solid fa-envelope"></i>contacto@inmobiliariadh.com</li>
                <li class="footer__line"><i class="fa-solid fa-location-dot"></i>Av. San Martin 543</li>
            </ul>

        </article>

    </section>
    <p class="copyright">2024 - Todos los derechos reservados</p>
</footer>