<header class="">
    <a href="/" class="link__home">
        <img src="img/logo-2.png" alt="inmobiliariaDH" class="logo-img">
    </a>
        

    <div class="buscador-container">
        <form action="/" method="get" class="flex">
        <input type="text" name="search" id="search" class="buscador__input">
        <button type="submit" class="buscador__button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
    </div>

<div class="menu-container">
    <input class="check" type="checkbox" name="" id="">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="cross__icon icons" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="list__icon icons" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
    
        <ul class="menu flex">
            <li>
                <i class="fa-solid fa-user"></i>
                <a href="/login">Login</a>
            </li>
            <li>
                <i class="fa-solid fa-address-card"></i>
                <a href="/registro">Registro</a>
            </li>
            <li>
                <i class="fa-solid fa-star"></i>
                <a href="/favorito">Favorito</a>
            </li>
        </ul>
</div>
</header>