<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalleDeProducto.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Detalle de Propiedad</title>
</head>

<body>
    <header class="flex">
        <a href="/" class="link__home">
            <img src="img/logo-2.png" alt="inmobiliariaDH" class="logo-img">
        </a>
            
    
        <div class="buscador-container flex">
            <form action="/" method="get" class="flex">
            <input type="text" name="search" id="search" class="buscador__input">
            <button type="submit" class="buscador__button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        </div>

        <div class="menu-container flex">
            <i class="fa-solid fa-bars fa-xl"></i>
        </div>

    <nav class="nav-bar flex">
        <ul class="flex">
            <li>
                <i class="fa-solid fa-user"></i>
                <a href="/login">Login</a>
            </li>
            <li>
                <i class="fa-solid fa-address-card"></i>
                <a href="/registro">Registro</a>
            </li>
            <li>
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="/carrito">Carrito</a>
            </li>
        </ul>
    </nav>
    </header>

    <main>
        <h1>Casa en Alquiler - Belgrano 437</h1>
        <section id="propdetail" class="seccion-p1">
            <div class="single-prop-image">
                <img src="img/propiedades/p7.jpeg" width="100%" id="MainImg" alt="">
    
                <div class="small-img-group">
                    <div class="small-img-col" >
                        <img src="img/propiedades/p7.jpeg" width="100%" class="small-img" alt="">   
                    </div>
                    <div class="small-img-col" >
                        <img src="img/propiedades/p10.jpg" width="100%" class="small-img" alt="">   
                    </div>
                    <div class="small-img-col" >
                        <img src="img/propiedades/p3.jpg" width="100%" class="small-img" alt="">   
                    </div>
                    <div class="small-img-col" >
                        <img src="img/propiedades/p4.jpg" width="100%" class="small-img" alt="">   
                    </div>
                </div>

            </div>

            <div class="single-prop-detail">
                <h1>$54.000</h1>
                <ul>
                    <li>Cocina Comedor</li>
                    <li>1 Baño</li>
                    <li>1 Dormitorio</li>
                    <li>Con Asensor</li>
                </ul>
                <button><i class="fa-brands fa-whatsapp"></i> Enviar Whatsapp</button>
            </div>
       </section>

       <section>
        <h2>Descripcion del Inmueble</h2>
        <ul>
            <li>Patio</li>
            <li>Amoblado</li>
            <li>Lavadero</li>
            <li>Cochera</li>
            <li><i class="fa-solid fa-dog"></i> Aceptamos Mascotas</li>
        </ul>
       </section>

       <section class="map">
        <h2>Dirección y Mapa</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3475.7006171228936!2d-66.86108942512779!3d-29.408312902069028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9427dbb375cb906b%3A0xb7c286c41a38402b!2sBelgrano%20437%2C%20La%20Rioja!5e0!3m2!1sen!2sar!4v1720020858964!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </section>

    </main>    

    <footer>

    </footer>
</body>

</html>