<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria DH</title>
    <link rel="stylesheet" href="/css/home.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="flex">
            <a href="/" class="link__home">
                <img src="img/logo-2.png" alt="inmobiliariaDH" class="logo-img">
            </a>
                
        
            <div class="buscador-container flex">
                <form action="/" method="get" class="flex">
                <input type="text" name="search" id="search" class="buscador__input">
                <button type="submit" class="buscador__button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            </div>

        <div class="menu-container flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="list__icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </div>

        <nav class="nav-bar flex">
            <ul class="flex">
                <li>
                    <i class="fa-solid fa-user"></i>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <i class="fa-solid fa-address-card"></i>
                    <a href="/registro">Registro</a>
                </li>
                <li>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="/carrito">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Propiedades cercanas a vos!</h1>
        <section class="section__propiedades flex">
            <article class="propiedad">
                <div class="article__card">
                    <h2>Venta Av. Belgrano 495 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
                      </svg> U$D 70.000</h2>
                    <img src="https://picsum.photos/id/690/330/200" alt="">
                    <ul>
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                          </svg> 40 m2</li>
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-badge-wc" viewBox="0 0 16 16">
                            <path d="M10.348 7.643c0-1.112.488-1.754 1.318-1.754.682 0 1.139.47 1.187 1.108H14v-.11c-.053-1.187-1.024-2-2.342-2-1.604 0-2.518 1.05-2.518 2.751v.747c0 1.7.905 2.73 2.518 2.73 1.314 0 2.285-.792 2.342-1.939v-.114h-1.147c-.048.615-.497 1.05-1.187 1.05-.839 0-1.318-.62-1.318-1.727zM4.457 11l1.02-4.184h.045L6.542 11h1.006L9 5.001H7.818l-.82 4.355h-.056L5.97 5.001h-.94l-.972 4.355h-.053l-.827-4.355H2L3.452 11z"/>
                            <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/>
                          </svg> 2 baños</li>
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-outer" viewBox="0 0 16 16">
                            <path d="M7.5 1.906v.938h1v-.938zm0 1.875v.938h1V3.78h-1zm0 1.875v.938h1v-.938zM1.906 8.5h.938v-1h-.938zm1.875 0h.938v-1H3.78v1zm1.875 0h.938v-1h-.938zm2.813 0v-.031H8.5V7.53h-.031V7.5H7.53v.031H7.5v.938h.031V8.5zm.937 0h.938v-1h-.938zm1.875 0h.938v-1h-.938zm1.875 0h.938v-1h-.938zM7.5 9.406v.938h1v-.938zm0 1.875v.938h1v-.938zm0 1.875v.938h1v-.938z"/>
                            <path d="M0 0v16h16V0zm1 1h14v14H1z"/>
                          </svg>o <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-columns" viewBox="0 0 16 16">
                            <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm8.5 0v8H15V2zm0 9v3H15v-3zm-1-9H1v3h6.5zM1 14h6.5V6H1z"/>
                          </svg> 3 dormitorios</li>
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                            <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17s2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276"/>
                            <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.8.8 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155s4.037-.084 5.592-.155A1.48 1.48 0 0 0 15 9.611v-.413q0-.148-.03-.294l-.335-1.68a.8.8 0 0 0-.43-.563 1.8 1.8 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3z"/>
                          </svg> 1 cochera</li>
                        <li><i></i></li>
                    </ul>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sequi dignissimos reiciendis repellendus fuga ducimus repellat deserunt tempore temporibus ea.</p> -->
                </div>
                
            </article>
            <article class="propiedad">
                <div class="article__card">
                    <h2>Alquiler Estancia Las Marias</h2>
                    <img src="https://picsum.photos/id/570/330/200" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sequi dignissimos reiciendis repellendus fuga ducimus repellat deserunt tempore temporibus ea.</p>
                </div>
                
            </article>
            <article class="propiedad">
                <div class="article__card">
                    <h2>Alquiler Pinamar</h2>
                    <img src="https://picsum.photos/id/590/330/200" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sequi dignissimos reiciendis repellendus fuga ducimus repellat deserunt tempore temporibus ea.</p>
                </div>
                
            </article>
            <article class="propiedad">
                <div class="article__card">
                    <h2>Alquiler Palm Beach</h2>
                    <img src="https://picsum.photos/id/270/330/200" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sequi dignissimos reiciendis repellendus fuga ducimus repellat deserunt tempore temporibus ea.</p>
                </div>
                
            </article>

        </section>
    </main>
</body>
<footer class="flex">
    <img src="img/logo-2.png" alt="inmobiliariaDH" class="footer__img">
    <section>
        <article class="footer__article">
            <h2 class="footer__title">Nuestras redes</h2>
            <ul>
                <li class="footer__line"><i class="fa-brands fa-facebook"></i>/DH.inmobiliaria</li>
                <li class="footer__line"><i class="fa-brands fa-twitter"></i>@inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-linkedin"></i>/inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-instagram"></i>@inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-google"></i>/inmobiliaria-DH</li>
            </ul>

        </article>
        <article class="footer__article">
            <h2 class="footer__title">Contacto</h2>
            <ul>
                <li class="footer__line"><i class="fa-solid fa-phone"></i>+3804-123456</li>
                <li class="footer__line"><i class="fa-brands fa-whatsapp"></i>+54-3804-654321</li>
                <li class="footer__line"><i class="fa-solid fa-envelope"></i>contacto@inmobiliariadh.com</li>
                <li class="footer__line"><i class="fa-solid fa-location-dot"></i>Av. San Martin 543</li>
            </ul>

        </article>

    </section>
    <p class="copyright">2024 - Todos los derechos reservados</p>
</footer>

</html>