<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Login DH Inmobiliaria</title>
</head>
<body>
    <header class="flex">
        <a href="/" class="link__home">
            <img src="img/logo-2.png" alt="inmobiliariaDH" class="logo-img">
        </a>
            
    
        <div class="buscador-container flex">
            <form action="/" method="get" class="flex">
            <input type="text" name="search" id="search" class="buscador__input">
            <button type="submit" class="buscador__button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        </div>

    <div class="menu-container flex">
        <i class="fa-solid fa-bars fa-xl"></i>
    </div>

    <nav class="nav-bar flex">
        <ul class="flex">
            <li>
                <i class="fa-solid fa-user"></i>
                <a href="/login">Login</a>
            </li>
            <li>
                <i class="fa-solid fa-address-card"></i>
                <a href="/registro">Registro</a>
            </li>
            <li>
                <i class="fa-solid fa-star"></i>
                <a href="/carrito">Favorito</a>
            </li>
        </ul>
    </nav>
</header>
     <div class="conteiner"> 
        <form id="loginform"> </form> 
        <h2>Iniciar Sesion</h2>
        <input type="email" placeholder="Correo Electrónico" required>
        <input type="password" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
        </form>
     </div>
</body>

<footer class="flex">
    <img src="img/logo-2.png" alt="inmobiliariaDH" class="footer__img">
    <section>
        <article class="footer__article">
            <h2 class="footer__title">Nuestras redes</h2>
            <ul>
                <li class="footer__line"><i class="fa-brands fa-facebook"></i>/DH.inmobiliaria</li>
                <li class="footer__line"><i class="fa-brands fa-twitter"></i>@inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-linkedin"></i>/inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-instagram"></i>@inmobiliariaDH</li>
                <li class="footer__line"><i class="fa-brands fa-google"></i>/inmobiliaria-DH</li>
            </ul>

        </article>
        <article class="footer__article">
            <h2 class="footer__title">Contacto</h2>
            <ul>
                <li class="footer__line"><i class="fa-solid fa-phone"></i>+3804-123456</li>
                <li class="footer__line"><i class="fa-brands fa-whatsapp"></i>+54-3804-654321</li>
                <li class="footer__line"><i class="fa-solid fa-envelope"></i>contacto@inmobiliariadh.com</li>
                <li class="footer__line"><i class="fa-solid fa-location-dot"></i>Av. San Martin 543</li>
            </ul>

        </article>

    </section>
    <p class="copyright">2024 - Todos los derechos reservados</p>
</footer>

</html>