<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <img src="img/logo-2.png" alt="Logo">
            <input type="text" placeholder="Buscar...">
        </header>
        <div class="contenidoPrincipal">
            <img src="placeholder.png" alt="ImagenPrincipal">
            <div class="form-container">
                <label for="name">Nombre :</label>
                <input type="text" id="name" name="name">
                <label for="phone">Telefono :</label>
                <input type="tel" id="phone" name="phone">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email">
                <label for="password">Password :</label>
                <input type="password" id="password" name="password">
                <div class="form-buttons">
                    <img src="placeholder.png" alt="Boton_1">
                    <img src="placeholder.png" alt="Boton_2">
                    <img src="placeholder.png" alt="Boton_3">
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="columna_1">
                <img src="placeholder.png" alt="imagenFooter">
                <ul>
                    <li>Lorem ipsum dolor sit</li>
                    <li>amet et delectus</li>
                    <li>accommodare his consul</li>
                    <li>copiosae legendos at vix</li>
                    <li>ad putent delectus</li>
                    <li>delicata usu. Vidit dissentiet eos cu</li>
                </ul>
            </div>
            <div class="columna_2">
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>et delectus accommodare</li>
                    <li>his consul copiosae</li>
                    <li>legendos at vix ad putent</li>
                    <li>delectus delicata usu. Vidit dissentiet eos cu</li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
