*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #E2A600;
    /* background-color: #E5D0AC; */
    font-family: "Roboto", sans-serif;
    color: #17353B;
}

.flex{
    display: flex;
}

header{
    flex-wrap: wrap;
    justify-content: space-around;
}


.logo-img{
    height: 10vh;
    object-fit: scale-down;
}

.logo-img img{
    max-width: fit-content;
}


.buscador-container{
    align-items: center;
    justify-content: center;

}

.buscador__input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}



.buscador__button{
    position: relative;
    right: 25px; /* Ajusta según sea necesario */
    border: none;
    background: none;
}

.menu-container{
    align-items: center;
    padding-right: 20px;
}

.menu-container svg {
    display: none;
}

.nav-bar{
    /* justify-content: flex-end; */
}

nav ul{
    list-style: none;
    align-items: center;
}

li{
    display: inline-block;
    margin: 0px 10px;
}

li a {
    text-decoration: none;
    color: inherit;
}

h1{
    margin: 10px;
    text-align: center;
    background-color: #E2A600;
}

/* -------------- Articulos -------------- */

.section__propiedades{
    flex-wrap: wrap;
    align-items: center;
}

.propiedad{
    /* height: 20vh; */
    width: 33%;
     /* border: 1px solid red ; */
}

.article__card{
    margin: 5%;
    border: 1px solid cornsilk;
    border-radius: 4px;
    background-color:#E5D0AC;
}

.article__title{
    margin: 1em;
    text-align: center;
    justify-content: space-evenly;
}

.article__card img{
    width: 100%;
    height: auto;
}

.article__subtitle{
    justify-content: space-between;
    align-content: stretch;
    padding: 1em;
}

.article__location{
    padding-left: 1em;
}

.article__features{
    justify-content: space-around;
    padding: 1em;
}

.article__features li{
    /* display: block; */
}
/* ----------- Footer ------------ */

footer{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
footer, .footer__img, .footer__article, .copyright{
    margin: 10px 0px;
}

.footer__line{
    margin: 5px 0;
    font-style: italic;
}

.footer__line i {
    padding: 0px 5px;
}

.footer__line:hover{
    color: #3E797C;
}

.footer__img{
    height: 7vh;
}

footer section{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copyright{
    width: 100%;
}


@media(min-width: 230px) and (max-width:460px){
    .propiedad{
        width: 100%;
    }

    .nav-bar{
        display: none;
    }

    .menu-container svg{
        display: block;
    }

}

/*and (max-width: 1280)*/
@media(min-width: 461px){

 
    footer section{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .copyright{
        width: 100vw;
    }

}


@media(min-width: 1024px) {
    
    .buscador-container{
        width: 50%;
    }

    .buscador-container form,.buscador__input{
        width: 100%;
    }

}

/* 
PALETA DE COLORES - DH INMOBILIARIA
#3E797C (AZUL TURQ)
#E2A600 (MOSTA)
#E5D0AC (BEIGE)
#17353B (AZUL OSC)

*/